<section class="customers">
    <div class="container customers-container">
        <h2 class="title-2 customers-title">
            What our Customers Say
        </h2>
        <p class="customers-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <ul class="customers-list">
            <li class="customers-item">
                <svg width="101" height="16" class="customers-item-icon">
                    <use href="./img/icons.svg#icon-stars"></use>
                </svg>
                <p class="customers-item-text">
                    “The Best app I have used to order food in a while, so many options to choose from too, I would
                    recommend to a
                    freind,
                    No questions asked”
                </p>
                <div class="customers-user">
                    <img width="48" height="48"
                        srcset="./img/customers/photo1@2x-min.jpg 2x, ./img/customers/photo1-min.jpg 1x"
                        src="./img/customers/photo1-min.jpg" alt="Sumith Shah photo" class="customers-user-img">
                    <div class="customers-user-info">
                        <span class="customers-user-name">
                            Sumith Shah
                        </span>
                        <span class="customers-user-status">
                            Some Dude
                        </span>
                    </div>
                </div>
            </li>
            <li class="customers-item">
                <svg width="101" height="16" class="customers-item-icon">
                    <use href="./img/icons.svg#icon-stars"></use>
                </svg>
                <p class="customers-item-text">
                    “The Best app I have used to order food in a while, so many options to choose from too, I would
                    recommend to a
                    freind,
                    No questions asked”
                </p>
                <div class="customers-user">
                    <img width="48" height="48"
                        srcset="./img/customers/photo2@2x-min.jpg 2x, ./img/customers/photo2-min.jpg 1x"
                        src="./img/customers/photo2-min.jpg" alt="Sumith Shah photo" class="customers-user-img">
                    <div class="customers-user-info">
                        <span class="customers-user-name">
                            Sumith Shah
                        </span>
                        <span class="customers-user-status">
                            Some Dude
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>