<section class="favorites">
    <div class="container">
      <h2 class="favorites-title">Some of Our Favorites</h2>
      <p class="favorites-text">Looking for something delicious?</p>
      <ul class="favorites-number">
        <li class="favorites-item">
          <picture>                
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/favorites/gamburger1x.png 1x,
                ./img/favorites/gamburger2x.png 2x
              "
              width="315" />                
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/favorites/gamburger-tab1x.png 1x,
                ./img/favorites/gamburger-tab2x.png 2x
              "
              width="267" />
            
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/favorites/gamburger-mob1x.png 1x,
                ./img/favorites/gamburger-mob2x.png 2x
              "
              width="223" />
            <img
              class="favorites-img"
              src="./img/favorites/gamburger1x.png"
              alt="gamburger"
              width="315"
              />
          </picture>
        </li>
        <li class="favorites-item">
          <picture>                
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/favorites/pasta1x.png 1x,
                ./img/favorites/pasta2x.png 2x
              "
              width="315" />                
            <source
              media="(min-width: 768px)"
              srcset="
              ./img/favorites/pasta-tab1x.png 1x,
              ./img/favorites/pasta-tab2x.png 2x
              "
              width="267" />                
            <source
              media="(max-width: 767px)"
              srcset="
              ./img/favorites/pasta-mob1x.png 1x,
              ./img/favorites/pasta-mob2x.png 2x
              "
              width="223" />
            <img
              class="favorites-img"
              src="./img/favorites/pasta1x.png"
              alt="pasta"
              width="315"
              />
          </picture>
        </li>
        <li class="favorites-item">
          <picture>               
            <source
              media="(min-width: 1280px)"
              srcset="
              ./img/favorites/pizza1x.png 1x,
              ./img/favorites/pizza2x.png 2x
              "
              width="315" />                
            <source
              media="(min-width: 768px)"
              srcset="
              ./img/favorites/pizza-tab1x.png 1x,
              ./img/favorites/pizza-tab2x.png 2x
              "
              width="267" />                
            <source
              media="(max-width: 767px)"
              srcset="
              ./img/favorites/pizza-mob1x.png 1x,
              ./img/favorites/pizza-mob2x.png 2x 
              "
              width="223" />
            <img
              class="favorites-img"
              src="./img/favorites/pizza1x.png"
              alt="pizza"
              width="315"
              />
          </picture>
        </li>
        <li class="favorites-item">
          <picture>                
            <source
              media="(min-width: 1280px)"
              srcset="
              ./img/favorites/chicken1x.png 1x,
              ./img/favorites/chicken2x.png 2x
              "
              width="315" />
            
            <source
              media="(min-width: 768px)"
              srcset="
              ./img/favorites/chicken-tab1x.png 1x,
              ./img/favorites/chicken-tab2x.png 2x
              "
              width="267" />
            <img
              class="favorites-img"
              src="./img/favorites/chicken1x.png"
              alt="chicken"
              width="315"
              />
          </picture>
        </li>
        <li class="favorites-item">
          <picture>                
            <source
              media="(min-width: 1280px)"
              srcset="
              ./img/favorites/salat1x.png 1x,
              ./img/favorites/salat2x.png 2x
              "
              width="315" />
            
            <source
              media="(min-width: 768px)"
              srcset="
              ./img/favorites/salat-tab1x.png 1x,
              ./img/favorites/salat-tab2x.png 2x
              "
              width="267" />
            <img
              class="favorites-img"
              src="./img/favorites/salat1x.png"
              alt="salad"
              width="315"                  
               />
          </picture>
        </li>
        <li class="favorites-item">
          <picture>               
            <source
              media="(min-width: 1280px)"
              srcset="
              ./img/favorites/borshch1x.png 1x,
              ./img/favorites/borshch2x.png 2x
              "
              width="315" />                
            <source
              media="(min-width: 768px)"
              srcset="
              ./img/favorites/borshch-tab1x.png 1x,
              ./img/favorites/borshch-tab2x.png 2x
              "
              width="267" />
            <img
              class="favorites-img"
              src="./img/favorites/borshch1x.png"
              alt="borshch"
              width="315"
              />
          </picture>
        </li>
      </ul>
    </div>
  </section>