 <header class="header-border">
      <div class="container">
        <div class="header-container">
          <a href="" class="header-logo"
            ><img src="./img/Vector.png" alt="logo" width="66" height="52"
          /></a>
          <button type="button" class="mob-menu-btn">
            <svg width="28" height="28">
              <use href="./img/icons.svg#icon-menu-button"></use>
            </svg>
          </button>
          <nav class="nav-menu">
            <ul class="nav-menu-item">
              <li><a href="" class="nav-menu-list">Home</a></li>
              <li><a href="" class="nav-menu-list">About</a></li>
              <li><a href="" class="nav-menu-list">Service</a></li>
              <li><a href="" class="nav-menu-list">Menu</a></li>
              <li><a href="" class="nav-menu-list">Contact</a></li>
            </ul>
          </nav>
          <button type="button" class="header-btn">Order Now</button>
        </div>
      </div>
      <div class="mob-menu">
        <button type="button" class="mob-menu-close-btn">
          <svg width="24" height="24">
              <use href="./img/icons.svg#icon-close-btn"></use>
            </svg>
        </button>
        <ul class="mob-menu-nav">
          <li><a href="" class="mob-menu-list">Home</a></li>
          <li><a href="" class="mob-menu-list">About</a></li>
          <li><a href="" class="mob-menu-list">Service</a></li>
          <li><a href="" class="mob-menu-list">Menu</a></li>
          <li><a href="" class="mob-menu-list">Contact</a></li>
        </ul>
      </div>
    </header>
