.hero-wrapper {
    background-color: var(--White, #FEFEFE);
    padding-top: 60px;
    padding-bottom: 91px;
}
.hero-title {
    color: #2C2C2C;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 28px;
}
.hero-text {
    color: var(--Black, #2C2C2C);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 32px;
}
.hero-list {
    display: none;
}
.hero-btn {
    color: #2c2c2c;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;

    display: inline-flex;
    padding: 6px 17px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #BBF330;
    border: transparent;

    width: 98px;
    height: 32px;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.66,-0.28, 0.18, 0.91);
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #FFE450;
}
.hero-kart {
    display: none;
}
.hero-kart-desktop {
    display: none;
}
@media screen and (min-width: 768px) {
    .hero-wrapper {
        padding-top: 30px;
        padding-bottom: 42px;
        position: relative;
    }
    .hero-title {
        line-height: 1.2;
        font-size: 42px;
        margin-bottom: 41px;
        width: 481px;
    }
    .hero-group {
    }
    .hero-text {
        color: var(--Black, #2C2C2C);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 49px;
        width: 336px;
    }
    .hero-picture {        
    }
    .hero-kart {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 291px;
        border: 13px solid #FFE550;
         
    }
    .hero-list {
    }
    .hero-item {
        background-color: #D9D9D9;
        border-radius: 4px;
        width: 25px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .link {  
    }
    .hero-icon-l {
    }
    .hero-icon-r {
    }
     .hero-kart-desktop {
        display: none;
    }
}
@media only screen and (min-width: 1280px) {
    .hero-wrapper {
        padding-top: 159px;
        padding-bottom: 0;
    }
    .hero-title {
        font-size: 48px;
    }
    .hero-text {
        width: 511px;
        margin-bottom: 40px;
    }
    .hero-group {
    }
    .hero-kart {
        display: none;
    }
    .hero-kart-desktop {
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        border-radius: 291px;
        border: 26px solid #FFE550; 
        width: 580px;
        height: 580px;
    }
    .hero-list {
        display: none;
    }
    .hero-btn {
        margin-bottom: 170px;
    }
    }